apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: application
spec:
  replicas: 2
  progressDeadlineSeconds: 600
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: gowthamd07101999/go-crud-app-app:docker-backend
          imagePullPolicy: Always
          env:
            - name: DB_URL
              value: postgres://admin:admin123@go-postgresql-hl.postgres.svc.cluster.local:5432/crud?sslmode=disable
            - name: LOG_LEVEL
              value: debug
          resources:
            limits:
              memory: "500Mi"
              cpu: "250m"
            requests:
              memory: "250Mi"
              cpu: "100m"
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          securityContext:
            privileged: false
      terminationGracePeriodSeconds: 60
